html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    background-color: #0082af;
}

input {
    padding: 0.5rem;
    border-radius: 1.5rem;
}

.main {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.actions {
    background-color: white;
    margin: 1rem;
}

.feed-url-input {
    min-width: 250px;
}

.feeds {
    background-color: white;
    display: flex;
    display: -webkit-flex;
    min-height: 480px;
}

.feeds, .actions {
    border: 1px solid white;
    border-radius: 1rem;
}

.actions {
    margin: 0 0 1.5rem 0;
    padding: 1.5rem;
}

.feed {
    max-width: 320px;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.feed h1 {
    font-size: 1.8rem;
    margin: 1.5rem 0.5rem 1.5rem 0;
}

.feed header {
    display: flex;
    display: -webkit-flex;
}

.feed button {
    margin-top: 1rem;
    height: 20px;
}

.entry {
    font-size: 1.6rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.feed p {
    word-wrap: break-word;
}

.feed ul {
    padding-left: 1.5rem;
}

footer.main {
    margin-top: 1rem;
}